    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Pixel Outlaw</h2>
                <p>
                    Pixel Outlaw is a company founded by Richard Harrah and Kyle Kattrein for the sole purpose of
                    becoming a haven of dank memes and creating fun gameplay experiences.
                </p>
                <p>
                    It coalesced around Faceland, a Minecraft server still run by the founders. It then transformed into
                    Teal Cube Games, where a single Android game was created, earning Richard and Kyle $5 and a sense of
                    pride. Of course, creating the game and putting it on the Android store cost $25, but that's not the
                    point of this paragraph.
                </p>
                <p>
                    Pixel Outlaw's current projects include the continuation of Faceland, the development of a new
                    website for Faceland, and multiple half-hearted attempts at making the games that we so desperately
                    want to make but don't have the time or energy to complete. We also browse dank memes frequently.
                </p>
            </div>
        </div>
    </section>